<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modbus Server Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Modbus Server Manager</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div>
            <label for="server_type">Select Server Type:</label>
            <select id="server_type" name="server_type">
                {% for server in server_config.servers %}
                    <option value="{{ server.type }}" data-port="{{ server.port }}">{{ server.type }}</option>
                {% endfor %}
            </select>
            <button id="create-server-button" class="button">Create Server</button>
        </div>
        <h2>Active Servers</h2>
        <div class="tab">
            {% for server_id, server_info in servers.items() %}
                <button class="tablinks" onclick="openServer(event, '{{ server_id }}')">{{ server_id }}</button>
            {% endfor %}
        </div>
        {% for server_id, server_info in servers.items() %}
            <div id="{{ server_id }}" class="tabcontent">
                <h3>{{ server_id }} ({{server_info.port}})</h3>
                <p>Holding Registers: <span id="{{ server_id }}-hr"></span></p>
                <p>Input Registers: <span id="{{ server_id }}-ir"></span></p>
                <p>Function Code 6 Registers: <span id="{{ server_id }}-fc6"></span></p>
                <button onclick="stopServer('{{ server_id }}')">Stop</button>
                <h4>Edit Registers</h4>
                <div id="{{ server_id }}-edit-hr"></div>
                <div id="{{ server_id }}-edit-ir"></div>
                <div id="{{ server_id }}-edit-fc6"></div>
            </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>